body {
background-color:  #f2f2f2
}
img {
        	width: 50%;
        }
        .image-small {
        	width: 20%;
        }
        .image-large {
        	width: 75%;
        }
button{
		background-color: #f2f2f2;
		border: 1px dark blue;
		color:white;
		padding: x20 px32;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		float:left;
		cursor: pointer;
}
.disabled {
  		opacity: 0.6;
  		cursor: not-allowed;
}
ul {
		 list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		}
		
li {
		  float: left;
		}
		
li a {
		  display: block;
		  padding: 8px;
		  background-color: #dddddd;
		}
.header {
		  padding: 60px;
		  text-align: center;
		  background: #2d1d92;
		  color: white;
		  font-size: 30px;
		}
.avatar {
		        	border-radius: 50%;
		        }
 .bar{
		        	float: right;
		        	background: ffffff;
		            width: 100%;
		        }
.center {
  				display: block;
  				margin-left: auto;
  				margin-right: auto;
  				width: 50%;
			}
footer {
  				background-color: #2d192;
  				padding: 10px;
  				text-align: center;
  				color: white;
			}
