//darkmode switcher//
:root {
	--base-color: white ;
	--base-variant: #e8e9ed ;
	--text-color: 111528
	--secondary-text: #052f3d ;
	--primary-color: #2d1d92 ;
	--accent-color: #6658BD ;
}
//darkmode switcher//
body {
background-color:  var (--base-color)
}
img {
        	width: 50%;
        }
        .image-small {
        	width: 20%;
        }
        .image-large {
        	width: 75%;
        }
button{
		background-color: var (e8e9ed);
		border: 1px dark blue;
		color:white;
		padding: x20 px32;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		float:left;
		cursor: pointer;
}
.disabled {
  		opacity: 0.6;
  		cursor: not-allowed;
}
ul {
		 list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		}
		
li {
		  float: left;
		}
		
li a {
		  display: block;
		  padding: 8px;
		  background-color: var (e8e9ed);
		}
.header {
		  padding: 60px;
		  text-align: center;
		  background: var (--primary-color);
		  color: white;
		  font-size: 30px;
		}
.avatar {
		        	border-radius: 50%;
		        }
 .bar{
		        	float: right;
		        	background: var (e8e9ed);
		            width: 100%;
		        }
.center {
  				display: block;
  				margin-left: auto;
  				margin-right: auto;
  				width: 50%;
			}
.footer {
  				background: var (--primary-color);
  				padding: 10px;
  				text-align: center;
  				color: white;
			}

.para {
				padding: 50px;
			}
