body {
background-color: #2b6897
}
img {
  width:50%;
}
.button{
		background-color: #66ffff;
		border: 1px dark blue;
		color:white;
		padding: x20 px32;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		float:left;
		cursor: pointer;
}
.disabled {
  		opacity: 0.6;
  		cursor: not-allowed;
}
navbar {
 list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

